.arena-root
{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.arena-gamestatus
{
  justify-content: center;
  justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}
.arena-gamefield
{
    justify-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex: 2;
    width: 100%;
}
.arena-fighter-img
{
  height: 380px;
}
.arena-versus-img
{
  height: 200px;
  width: 200px;
  flex:1;
  margin: 0,0px;
}
.arena-fighter-info
{
    justify-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}
.arena-fighter-info-block
{
  display: flex;
  flex:1
}
.arena-gamefield-fighter
{
    height:350px;
    flex: 1;
    
}
.arena-gamefield-fighter-right
{
    height:350px;
    flex: 1;
    transform: scaleX(-1);
}
.arena-fighter-indicator {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 30px 0px 30px;
  }
  
  .arena-health-indicator {
    width: 100%;
    height: 30px;
    border: 3px solid;
    border-radius: 10px;
    margin: 0 10px;
    overflow: hidden;
  }
  
  .arena-health-bar {
    height: 100%;
    width: 100%;
    background-color: green;
  }
  .arena-fighter-name {
    font-size: 32px;
    font-weight: 700;
  }
  