.displayfighters
{
    flex-direction: row;
    width: 100%;
    height: 400px;

}
.displayfighters-fighter
{
    height: 250px;
    width: auto;
}
.displayfighters-fighter-right
{
    height: 250px;
    width: auto;
   transform: scaleX(-1);
}
.displayfighters-fighter-image
{
    height: 200px;
    width: auto;
}
.displayfighters-fighterdetails
{
    font-size: 16px;
    font-weight: 800;
    font-style: oblique;
}
