@import 'displayfighters.css';

.selectionfighters-root
{
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.selectionfighters-fighters
{
    flex-direction: row;
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    margin: 30px 40px 30px 40px;
}
.selectionfighters-fighters-block
{
    height: 200px;
    max-width: 150px;
    flex: 1;
    cursor: pointer;
    display: flex;
    border: solid cornflowerblue 1dp;
    border-radius: 3px;
    margin: 20px;
}
